* {
	font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color:#FC8833;
    display:block;
    overflow:hidden;
    height: 100px; 
    position: relative;
    margin-bottom: 2%;
}     

nav {
  float: right;
  padding: 5px 20px; 
  position: absolute;
  background-color:#F6BC91;
  bottom: 0;
  right: 0;
  width: 60%;
  overflow: hidden;
  
}



body{
    background-color: #ECE7CD;
    margin-left:10%;
    margin-right: 10%; 
    padding:0;
    text-align:center;
}


nav > ul{
    float: right;
}
nav> ul> li {
    color: #aaa;
    display: inline-block;
    color: white;
}

nav> ul> li:hover {
    background-color:#FC8833;
}


nav li + li:before{
    content: " | ";
    color:black;
    
}

article{
    float: left;
    width: 40%;
}
.elberto{
    float:        none; 
  
    margin-left:  auto;
    margin-right: auto;
}
.elberto > img{
    width: 100%;
}
.elberto > h1{
    font-size: 2em;
}
.wrapperRisi > img{
   
    height: auto;
    width: auto;
    padding-right: 3%;
  
}
.wrapperRisi > p{
   
   font-size: 50%;
   text-align: left;
   padding-left: 2px;
}

.risitas{
    margin-bottom: 25px;
    border:#FC8833 1px solid;
}


  main{
      float: left;
  }

  .container{
      display: flex;
      flex-flow: row wrap;
     justify-content: space-around;
  }

  .wrapper {
    display: flex;  
    flex-flow: row wrap;
    margin-top: -5%;
    background-color: #FBF6DA;
  }

  .wrapperRisi{
    display:flex;
    padding: 5%;
     
  }
  
  .wrapper > * {
    padding: 8px;
    flex: 1 100%;
  }
  
  
  
  
  .main {
    text-align: left;
   
  }
  
  @media all and (min-width: 10px) {
  
    .aside{
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
    }
    nav{
      display: none;
    }
    .image1{
      display: none;
    }
    #menuResp{
      display:inline-flex;
      padding: 5%;
      width: 100%;
    }
    #menuResp p{
     float:left;
    }

    .searchresp{
      margin: auto;
      width: 50%;
    }
    .search{
      display: none;
    }
    .col-20{
      width:75%;
      float: left;
      margin-top: 6px;
    }

    .col-45{
      float: left;
      width: 75%;
      margin-top: 6px;
    }
    .col-10{
      float: left;
      width: 25%;
      margin-top: 6px;
    }

    .col-50{
    
      width: 70%;
      margin-top: 6px;
      margin-left: 30%;
  
  }

    .sCars{
      display: none;
    }
    .sCarsResp{
      display: block;
    }
  
  }

  a:link {
    text-decoration: none;
  }

  a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#FFFFFF;
}

a:hover 
{
    color:#FFFFFF;
}
  
  
  
  @media all and (min-width: 801px) {
    .main    { flex: 2 0px; }
    .main    { order: 1; }
    .aside-1 { order: 2; }
    .footer  { order: 3; }

    
    nav{
      display: block;
    }
    .image1{
      display: block;
    }
    #menuResp{
      display:none;
    }
    .search{
      display: block;
    }
    .col-20{
      float: left;
      width: 20%;
      margin-top: 6px;
    }

    .col-45{
      float: left;
      width: 45%;
      margin-top: 6px;
    }

    
  .col-10{
    float: left;
    width: 10%;
    margin-top: 6px;
  }
  
  .sCars{
    display: block;
  }

  .sCarsResp{
    display: none;
  }

  .col-50{
    
    width: 50%;
    margin-top: 6px;
  float: left;
  margin-left: 0px;

}
  }
  
  body {
    padding: 2em; 
  }

  .headerRis{
      background-color:#FC8833;
      color:white;
   
  }

  .cursive{
    font-style: italic;
  }

  .opinion{
      margin-top: 10%;
  }

  .opinion  #wrapOpinion{
    display:flex;
    
  }
  .opinion  #wrapOpinion .op1{
    background-image: url("../img/putin.jpg");
   
  }

  .opinion  #wrapOpinion .op1,
  .opinion  #wrapOpinion .op2,
  .opinion  #wrapOpinion .op3{
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-right: 5px;
    width: 100%;
    position: relative;
  }

  .opinion  #wrapOpinion .op1 span,
  .opinion  #wrapOpinion .op2 span,
  .opinion  #wrapOpinion .op3 span{
    display: table-cell;
    vertical-align: bottom;
    color:white;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 0.7em;
    background-color:rgba(0, 0, 0, 0.33);
  }


  .opinion  #wrapOpinion .op1 span p,
  .opinion  #wrapOpinion .op2 span p,
  .opinion  #wrapOpinion .op3 span p{
    padding: 10%;
  
 }

  .opinion  #wrapOpinion .op2{
     background-image: url("../img/alf.jpg");
   
   }
   .opinion  #wrapOpinion .op3{
    background-image: url("../img/kung-fury.jpg");
    
  }
  .negrita{
      font-style: bold;
  }

 

 #principalContainer{
    position: relative;
 }



 .image1 {
    top: -10%;
    left: 24%;
    width: 25%;
	overflow: visible;
	position: absolute;
	left: 25%;
	top: 2%;
}

.colorGrey{
    overflow: visible;
    position: absolute;
    width: 100%;
    bottom: 0%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.33);
    color:white;
    font-size: 1em;

}


.footer #socialMedia{
    margin-top:15%;
}

.footer #socialMedia img{
   float:right;
}


input[type=text], input[type=number], input[type=email], input[type=tel]{
    width: 100%;
    padding: 5px;
    border: 1px solid #FC8833;
    border-radius: 3px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  label {
    padding: 2% 2%  2% 0;
    display: inline-block;
  }
  

  input[type=submit] {
    background-color:  #FC8833;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    margin-top:5%;
   
  }
  
  
  .container {
    border-radius: 2px;
    padding: 10px;
  }
  

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
 
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

 
  


  .containerDatos, .containerAficiones{
 
    padding-bottom: 10px;
    border-bottom: 1px solid #FC8833;
    margin-bottom: 5%;

  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  
  .containerForm {
    margin: 10% 10% 10% 10%;
}

.titleForm{
  text-align: left;
}
.fleft{
  float: left;
  margin-top:5%;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
input[type=radio] {
  bottom: 2px;
}

.dep {
  width: 100%;
}
.dep span {
 float:left;
 width: 10%;
}

.scars{
  width: 60%;
  margin-top:5%;
}

select{
  border: 1px solid #FC8833;
  border-radius: 3px;
  box-sizing: border-box;
}

.col-100 textarea{
  width: 100%;
  border: 1px solid #FC8833;
  border-radius: 3px;
  box-sizing: border-box;

}

.search{
   width: 20%;
  float: right;
  margin-top: 3%;

}

.search input[type=text], .searchresp input[type=text]{
  background-color: #FBF6DA;
  font-style: italic;
  background-image: url("../img/lupa.png");
  background-repeat:no-repeat;
  background-position-y: center;
  background-position-x: right;
}







